h1 {
    color: #687418;
}

body {
    background-color: #ac9789;
    font-family: monospace;
}

.bio {
    color: black;
    text-align: left;
    font-size: 20px;
    width: 40%;
    height: 35%;
    border-width: 5px;
    border-color: darkcyan;
    box-sizing: border-box;
    border-style: ridge;



}

.pages_socials a {
    color: azure;
    text-decoration: none;
}

.pages_socials :hover {
    color: burlywood;
}

#lnin {
    padding-left: 92%;
}

#linked_Image {
    max-width: 100%;
    height: 20px;

}

#itch {
    max-width: 100%;
    height: 20px;

}

@font-face {
    font-family: "BM_Space";
    src: url('BMSPA___.TTF') format('truetype');
}