h1 {
    color: #687418;
}

#header {
    margin-top: 25px;
    padding-bottom: 4px;
    margin-bottom: 7px;
    border-bottom: 1px solid rgb(160, 160, 160);

}

#subtitle {
    margin-left: 10px;
    font-size: 15px;
}

#title {
    font-size: 20px;
}

.subMenu {
    margin-bottom: 22px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

#page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    font-family: 'emotionengine';
}

#social_media {
    float: right;
    margin-bottom: -5px;
}

a {
    text-decoration: none;
}

.social_ico {
    height: 20px;
    width: 20px;
}

#bio {
    font-family: 'monospace';
    color: black;
    text-align: left;
    font-size: 20px;
    width: 40%;
    height: 35%;
    border-width: 5px;
    border-color: darkcyan;
    box-sizing: border-box;
    border-style: ridge;
}

@font-face {
    font-family: 'emotionengine';
    src: url('Fonts/emotion_engine/EmotionEngine.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'antiasemisquare';
    src: url('Fonts/anita_semi_square/Anitasemisquare.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'elegante';
    src: url('Fonts/elegante/ELEGN.TTF') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'logostile';
    src: url('Fonts/logostile/Logostile.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'oldcomputerst';
    src: url('Fonts/old_computer_st/oldcomputerst.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}