h1 {
    color: #102a72;
    font-size: 15px;
    font-family: 'sourcesansproreg';
    font-weight: normal;
}

h2 {
    color: #102a72;
    font-size: 15px;
    font-family: 'sourcesansproreg';
    font-weight: normal;
}

#header {
    margin-top: 25px;
    padding-bottom: 4px;
    margin-bottom: 7px;
    border-bottom: 1px solid rgb(160, 160, 160);
    font-family: 'emotionengine';

}

#subtitle {
    margin-left: 10px;
    font-size: 15px;
}

#title {
    font-size: 20px;
    color: #102a72;
}

.subMenu {
    margin-bottom: 22px;
    font-family: 'emotionengine';
}


#menu-home {
    color: inherit;
}

#menu-home:hover {
    color: rgb(81, 81, 82);
}

#menu-works {
    color: inherit;
}

#menu-works:hover {
    color: rgb(81, 81, 82);
}

#menu-resume {
    color: inherit;
}

#menu-resume:hover {
    color: rgb(81, 81, 82);
}

#menu-about {
    color: inherit;
}

#menu-about:hover {
    color: rgb(81, 81, 82);
}

#menu-contact {
    color: inherit;
}

#menu-contact:hover {
    color: rgb(81, 81, 82);
}

div {
    display: block;
    unicode-bidi: isolate;
}

#page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

body {
    background-color: lightgray;
}

#social_media {
    float: right;
    margin-bottom: -5px;
    display: flex;
}

a {
    text-decoration: none;
}

.social_ico {
    height: 20px;
    width: 20px;
}

#bio_section {
    position: relative;
}

#bio {
    margin-top: 15px;
    margin-right: 60px;
    color: black;
    text-align: left;
    width: 40%;
    height: 35%;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 20px;
}

#homeprojintro {
    text-align: justify;
    padding-bottom: 20px;
    width: 40%;
    height: 35%;
}

#homemonad1 {
    padding-top: 10px;
    width: 500px;
    height: 400px;
    padding-bottom: 20px;
    position: relative;
}

#homemonad2 {
    padding-top: 10px;
    width: 500px;
    height: 400px;
    padding-bottom: 20px;
    position: relative;
}

#homemonad3 {
    padding-top: 10px;
    height: 400px;
    padding-bottom: 20px;
    position: relative;
}

p {
    font-family: 'sourcesansproreg';
    font-size: 13.5px;

}

#projectTitle {
    color: #102a72;
    font-size: 15px;
    font-family: 'sourcesansproreg';
    font-weight: normal;
}

#monadredir {
    color: inherit;
}

.resumeBody {
    display: flex;
    position: relative;
    align-items: start;
    gap: 20px;
    border: none;
}

#resumetext {
    text-align: left;
    margin-left: 5px;
    max-width: 300px;
}

.homepageSlideshow {
    max-width: fit-content;
    position: relative;
    margin: auto;
}

.hpslides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #102a72;
    font-weight: bold;
    font-size: 13px;
    transform: .06s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: auto;
}

.next {
    right: 1;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #102a72;
    font-size: 12.5px;
    font-family: 'sourcesansproreg';
    padding: 8px 12px;
    position: relative;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1;
    }

}

@font-face {
    font-family: 'emotionengine';
    src: url('Fonts/emotion_engine/EmotionEngine.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'antiasemisquare';
    src: url('Fonts/anita_semi_square/Anitasemisquare.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'elegante';
    src: url('Fonts/elegante/ELEGN.TTF') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'logostile';
    src: url('Fonts/logostile/Logostile.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'oldcomputerst';
    src: url('Fonts/old_computer_st/oldcomputerst.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'sourcesansproreg';
    src: url('Fonts/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}