h1 {
    color: #687418;
}



.bio {
    color: black;
    text-align: left;
    font-size: 20px;
    width: 40%;
    height: 35%;
    border-width: 5px;
    border-color: darkcyan;
    box-sizing: border-box;
    border-style: ridge;
}

.social_ico {
    height: 20px;
    width: 20.5px;
}

@font-face {
    font-family: "BM_Space";
    src: url('BMSPA___.TTF') format('truetype');
}